<div class="container mt-5" *ngIf="!loading">
    <div class="row">
      <form class="form col-4 card p-3 offset-4" >
        <h2>QA Bot</h2>
        <input placeholder="type qyestion" class="form-control" value="{{prevQuestion}}" type="text" name="" #question id="">
        <textarea placeholder="type context" class="form-control mt-2" value="{{prevContext}}" type="text" name="" #context id="">
        </textarea>
        <button  type="button" class="btn btn-primary mt-2" (click)="askBot(question.value,context.value)">Generate</button>
      </form>
      <div *ngIf="!empty" class="offset-3">{{response.answer}}</div>
   
  </div>
    
  </div>
<div class="d-flex justify-content-center mt-5"  *ngIf="loading">
    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status" >
      <span class="sr-only"></span>
    </div>
  </div>
