<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2">

  <a class="navbar-brand" routerLink="">TranscendAI</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link active" routerLink='/'>Transcribe & Summarize</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link active" routerLink='imagegen'>Image Generation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink='videogen'>Video Generation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink='img2img'>Image to Image Generation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink='aiupscaler'>AI Upscaler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink='qa'>QA Bot</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
   
  </div>
</nav>
<router-outlet></router-outlet>