<div class="container mt-5" *ngIf="!loading">
    <div class="row">
      <form class="form col-4 card p-3 offset-4" >
        <h2>Image to Image Generation</h2>
        <input placeholder="type text" class="form-control" value="{{prevText}}" type="text" name="" #text id="">
        <input placeholder="type image url" class="form-control" value="{{prevUrl}}" type="text" name="" #url id="">
        <button  type="button" class="btn btn-primary mt-2" (click)="generateImage(text.value,url.value)">Generate</button>
      </form>
   
  </div>
  <div class="row">
    <div *ngIf="!empty" class="offset-3 card shadow rounded mt-3 col-6 p-4">
      <img  src="{{response}}"   alt="">
    </div>
    <div *ngIf="empty && error" class="offset-4 mt-3 col-4 p-4">
      <h2 class="text-danger">{{error}}</h2>
    </div>
  </div>
    
  </div>
<div class="d-flex justify-content-center mt-5"  *ngIf="loading">
    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status" >
      <span class="sr-only"></span>
    </div>
  </div>
