<div class="container mt-5" *ngIf="!loading">
    <div class="row">
      <form class="form col-4 card p-3 offset-4" >
        <h2>GPT Completion</h2>
        <textarea placeholder="type context" class="form-control" value="{{prevText}}" type="text" name="" #text id="">
          </textarea>
          <div>
            <input type="checkbox" #multiple name="" id="">
          <label for="" >Produce Multiple</label>
          </div>
        <button  type="button" class="btn btn-primary mt-2" (click)="gpt(text.value,multiple.checked)">Generate</button>
      </form>
      
   
  </div>
  <div class="row mt-3">
    <div *ngIf="!empty"  class="offset-2 col-8 acrd rounded shadow p-2">
      <ol>
        <li *ngFor="let resp of response" class="mt-2">
          {{resp.generated_text}}
        </li>
      </ol>
      </div>
  </div>
  </div>
<div class="d-flex justify-content-center mt-5"  *ngIf="loading">
    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status" >
      <span class="sr-only"></span>
    </div>
  </div>
